


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
 {% csrf_token %}
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit"> LOGIN </button>

</form>

{% for message in messages%}
<P >{{message}}</P>
{% endfor %}

<a href="{% url 'signup' %}">Create new account</a>
</body>
</html>